{% load widget_tweaks %}
<div class="space-y-6 mb-5">
    <div class="flex justify-items-start space-x-3">
        <!-- This is just to have the fields "first_name" and "last_name" horizontally aligned -->
        {% for field in form %}
            {% if "name" in field.name %}
            <div>
                <label class="block mb-2 text-sm font-light text-gray-900">{{field.label}}</label>
                {{ field|append_attr:"class:bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="space-y-2">
        {% for field in form %}
            {% if "name" not in field.name %}
                <label class="block mb-2 text-sm font-light text-gray-900">{{field.label}}</label>
                {{ field|append_attr:"class:bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" }}
            {% endif %}
        {% endfor %}
    </div>
</div>
