{% extends 'core/main_base.html' %}
{% load static %}
{% block title %}{{ user.get_short_name }}'s Patients{% endblock %}
{% block content %}
<div class="flex justify-between mb-6 items-center">
    <h1 class="text-2xl text-gray-900">
        Patients
    </h1>
    <a href="{% url 'patients:add' %}" class="py-2 px-4 text-white bg-sky-600 hover:bg-sky-700 font-medium rounded-lg text-center">Add Patient</a>
</div>

<table id="table" class="table table-striped table-bordered" style="width:100%">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th >
          Patient Name
      </th>
      <th >
          Email
      </th>
      <th >
          Phone Number
      </th>
      <th >
          Citizen Number
      </th>
      <th>
          Created At
      </th>
      <th>
          Modified At
      </th>
      <th >
          Action
      </th>
    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr class="bg-white">
        <td class="px-6 py-4">
            {{ patient.get_full_name }}
        </td>
        <td class="px-6 py-4">
          {{ patient.email }}
        </td>
        <td class="px-6 py-4">
          {{ patient.phone_number }}
        </td>
        <td class="px-6 py-4">
          {{ patient.citizen_number }}
        </td>
        <td class="px-6 py-4">
          {{ patient.created_at }}
        </td>
        <td class="px-6 py-4">
          {{ patient.modified_at }}
        </td>
        <td class="px-6 py-4 text-center space-x-2">
            <a href="{% url 'patients:edit' patient.id %}" class="font-medium text-blue-600 hover:underline">Edit</a>
            <a href="{% url 'patients:details' patient.id %}" class="font-medium text-blue-600 hover:underline">View</a>
            <a href="{% url 'appointments:add' patient.id %}" class="font-medium text-blue-600 hover:underline">Schedule</a>
            <a href="{% url 'patients:delete' patient.id %}" class="font-medium text-red-600 hover:underline">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}