{% extends 'core/main_base.html' %}
{% block title %}{{ user.get_short_name }}'s Dentists{% endblock %}
{% block content %}
<div class="flex justify-between mb-6 items-center">
    <h1 class="text-2xl text-gray-900">
        Patients
    </h1>
    <a href="{% url 'dentists:add' %}" class="py-2 px-4 text-white bg-sky-600 hover:bg-sky-700 font-medium rounded-lg text-center">Add Dentist</a>
</div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">
            Dentist Name
        </th>
        <th scope="col" class="px-6 py-3">
            Email
        </th>
        <th scope="col" class="px-6 py-3">
            Phone Number
        </th>
        <th scope="col" class="px-6 py-3">
            Citizen Number
        </th>
        <th scope="col" class="px-6 py-3">
            Speciality
        </th>
        <th scope="col" class="px-6 py-3">
            Created At
        </th>
        <th scope="col" class="px-6 py-3">
            Modified At
        </th>
        <th scope="col" class="px-6 py-3">
            Action
        </th>
      </tr>
    </thead>
    <tbody>
      {% for dentist in dentists %}
      <tr class="bg-white border-b">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ dentist.get_full_name }}
          </th>
          <td class="px-6 py-4">
            {{ dentist.email }}
          </td>
          <td class="px-6 py-4">
            {{ dentist.phone_number }}
          </td>
          <td class="px-6 py-4">
            {{ dentist.citizen_number }}
          </td>
          <td class="px-6 py-4">
            {{ dentist.get_speciality_display }}
          </td>
          <td class="px-6 py-4">
            {{ dentist.created_at }}
          </td>
          <td class="px-6 py-4">
            {{ dentist.modified_at }}
          </td>
          <td class="px-6 py-4 space-x-2">
              <a href="{% url 'dentists:edit' dentist.id %}" class="font-medium text-blue-600 hover:underline">Edit</a>
              <a href="{% url 'dentists:details' dentist.id %}" class="font-medium text-blue-600 hover:underline">View</a>
              <a href="{% url 'dentists:delete' dentist.id %}" class="font-medium text-red-600 hover:underline">Delete</a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}